[submodule "assets/treetable"]
	path = assets/treetable
	url = https://github.com/ludo/jquery-treetable.git
[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = https://github.com/twitter/bootstrap.git
